@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <h2>Clinica Viva de Estética!</h2>
        <br /><br />
        <ul>
            <li>Utilize esse espeço para manter as atividades da clínica!</li>
            <li>Escolha um dos itens do menu acima.</li>
        </ul>
    </div>
</div>
